<section class="categories-wrap">
    <header class="categories-header">
        <h1>
            <%= page.title %>
        </h1>
    </header>
    <% if (site.categories.length){ %>
    <div class="widget tag">
        <%- list_categories(site.categories) %>
    </div>
    <% } %>
</section>